/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    display: none;

}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #05395b;
    border-left: 1px solid #CCC;
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #3490cc;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171;
}

::placeholder {
    padding-left: 1%;
}


a {
    padding: 0!important;
    margin: 0!important;
    color: white;
}

textarea {
    resize: none;
    width: 100%;
    height: 25%;
}

li {
    display: inline-block;
    font-size : 12pt;
    color: white;
    font-family: "Montserrat";
    margin-left: 5%;
    cursor: pointer;
}

.sides {
    background-color: black;
}

body > header {
    background-color: #000000;   
    transition: 4s;
    padding-bottom: 1%;
}
/* body > header:hover {
    background-color: #c4bcbc;  
    transition: 4s;
    color: black!important;
} */

.buttonFixed {
    position: fixed;
    bottom: 1;
    z-index: 100;
}

.divHeader {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.logo {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.divUl {
    margin-top: 1%;
}

.galeriaDeVideos {
    width: 100%!important;
    height: 20px;
}

.imagemQuemSomos {
    margin-top: 6%;
    z-index: 100;
}

.quemSomos {
    background-color: #ddd9d9;   
}

.textoQuemSomos {
    margin-top: 7%;
    font-family: "Raleway";
}

.video iframe{
    width: 100%!important;
    margin-top: 1%!important;
    transition: 2s;
}


.video iframe:hover {
    text-transform: 20px;
    transform: scale(1.1);
    text-align: center;
    position: relative;
    transition: 3s;
}

.footer {
    background-color: black;
    color: whitesmoke;
    width: 100%;
    margin-bottom: 0;
    z-index: 100;
}

input {
    border: solid 1px white!important;
    border-radius: 5px!important;
}


.iconSocial{
    margin-left: 15%;
    text-align: center;
    width : 45%;
    padding: 10px;
    border: 0.5px solid white;
}

.iconSocialF{
    margin-left: 15%;
    text-align: center;
    width : 45%;
    padding: 10px;
    border: 0.5px solid white;
    transition: 2s;
}

.iconSocialF:hover{
    margin-left: 15%;
    text-align: center;
    width : 45%;
    padding: 10px;
    border: 0.5px solid white;
    background-color: #4267B2;
    transition: 2s;
}

.iconSocialI{
    margin-left: 15%;
    text-align: center;
    width : 45%;
    padding: 10px;
    border: 0.5px solid white;
    transition: 2s;
}

.iconSocialI:hover{
    margin-left: 15%;
    text-align: center;
    width : 45%;
    padding: 10px;
    border: 0.5px solid white;
    background-color: #D7246E;
    transition: 2s;
}

.iconSocialY{
    margin-left: 15%;
    text-align: center;
    width : 45%;
    padding: 10px;
    border: 0.5px solid white;
    transition: 2s;
}

.iconSocialY:hover{
    margin-left: 15%;
    text-align: center;
    width : 45%;
    padding: 10px;
    border: 0.5px solid white;
    background-color: red;
    transition: 2s;
}

.spanFooter{
    color: white;
    font-size: 20pt;
    font-family: "Raleway";
}

.btn1 {
    color: black;
    background-color: white;
    font-size: 15pt;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    transition: 2s;
}

.btn:hover {
    background-color: rgb(56, 18, 18);;
    color: white;
    transition: 2s;
}

.btnMail {
    position: fixed;
    background-color: black;
    color: white;
    margin-top: 10%!important;
    right: 1;
}

.btnMail:hover {
    background-color: gray;
    color: black;
}

.mL {
    top: 5%;
    margin-left: 10%;
}

@media only screen and (max-width: 600px){
    
    li {
        font-size: 11pt;
        color: white;
        font-family: "Montserrat";
        margin-left: 4%;
    }

    .logo {
        width: 80%;
        margin-top: 2%;
        margin-left: 10%;
        margin-bottom: 3%;
    }

    .divHeader {
        width: 100%;
        position: relative;
        z-index: 100;
    }
    
    .divUl {
        margin-top: 1%;
        text-align: center;
    }

    .imagemQuemSomos {
        width: 80%;
    }

    .firstChildLi{
        margin-left: 4%;
    }    

    .btnMail {
        position: fixed;
        background-color: black!important;
        color: gray!important;
        margin-top: 20!important;
    }
    
    .textoQuemSomos {
        font-family: "Raleway";
        text-align: justify;
    }
    
    .divIcon {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    
    .iconSocialF{
        margin-left: 15%;
        text-align: center;
        width : 85%;
        padding: 10px;
        border: 0.5px solid white;
        transition: 2s;
    }
    
    .iconSocialF:hover{
        margin-left: 15%;
        text-align: center;
        width : 90%;
        padding: 10px;
        border: 0.5px solid white;
        background-color: #4267B2;
        transition: 2s;
    }
    
    .iconSocialI{
        margin-left: 15%;
        text-align: center;
        width : 85%;
        padding: 10px;
        border: 0.5px solid white;
        transition: 2s;
    }
    
    .iconSocialI:hover{
        margin-left: 15%;
        text-align: center;
        width : 90%;
        padding: 10px;
        border: 0.5px solid white;
        background-color: #D7246E;
        transition: 2s;
    }
    
    .iconSocialY{
        margin-left: 15%;
        text-align: center;
        width : 85%;
        padding: 10px;
        border: 0.5px solid white;
        transition: 2s;
    }
    
    .iconSocialY:hover{
        margin-left: 15%;
        text-align: center;
        width : 90%;
        padding: 10px;
        border: 0.5px solid white;
        background-color: red;
        transition: 2s;
    }
        
    .video iframe{
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
        margin-bottom: 2%!important;
    }

    .text1 {
        display: none;
    }

}


